@media  only screen  and (max-width:768px){
    .navbar__nav .fa-bars{
        display: block;
        font-size: 1.6rem;
    }
    .navbar__nav a{
        display: none;
    }
    .navbar__nav .fa-search{
        display: none;
    }
    .header{
        padding: 2rem 0;
        height: 100%;
        background-image: url(/img/banner2.jpg);
        background-size: cover;
    }
    .about__content, .upcming__content, .gallery__content, .footer__content{
        display: grid;
        grid-template-columns: 1fr;
    }
}